<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      <div class="col-md-4 d-flex align-items-center">
        <a href="https://www.techcareer.net" target="_blank" class="mb-3 me-2 mb-md-0  text-decoration-none lh-1">
            <img src="./assets/techcareer-logo.svg" alt="">
        </a>
      </div>
  
      <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <li class="ms-3"><a target="_blank" href="https://github.com/ysfarslanon?tab=repositories"><i class="bi bi-github"></i></a></li>
        <li class="ms-3"><a target="_blank" href="https://www.linkedin.com/in/arslanyusuf/"><i class="bi bi-linkedin"></i></a></li>
        <li class="ms-3"><a target="_blank" href="mailto:14arslan.yusuf@gmail.com"><i class="bi bi-envelope-fill"></i></a></li>
      </ul>
    </footer>
  </div>

