<main class="form-signin w-100 m-auto">
    <form [formGroup]="shoppingListAddForm">
      <img
        class="mb-4 mx-auto d-block"
        src="/assets/techcareer-logo.svg"
        alt=""
        width="144"
        height="100"
      />
      <h1 class="h3 mb-3 fw-normal text-center">Alışveriş listesisi oluştur</h1>
  
      <div class="form-floating">
        <input
          type="text"
          class="form-control rounded-zero"
          id="floatingShoppingListName"
          placeholder="Liste ismi"
          formControlName="name"
        />
        <label for="floatingEmail">Liste ismi</label>
      </div>
      
      <button
        class="w-100 btn btn-lg btn-primary mt-3"
        type="submit"
        (click)="submit()"
      >
        Oluştur
      </button>
      <button class="w-100 btn btn-lg btn-success mt-2" routerLink="/shoppinglist">
        Listelerim
      </button>
    </form>
  </main>
  