<main class="form-signin w-100 m-auto">
  <form [formGroup]="categoryUpdateForm">
    <img
      class="mb-4 mx-auto d-block"
      src="/assets/techcareer-logo.svg"
      alt=""
      width="144"
      height="100"
    />

    <h1 class="h3 mb-3 fw-normal text-center">Kategori Güncelle</h1>

    <div class="form-floating">
      <input
        type="text"
        class="form-control"
        id="floatingCategoryName"
        placeholder="Teknoloji"
        formControlName="name"
        [ngModel]="selectedCategory.name"
      />
      <label for="floatingEmail">Kategori ismi</label>
    </div>

    <button
      class="w-100 btn btn-lg btn-primary mt-3"
      type="submit"
      (click)="submit()"
    >
      Güncelle
    </button>
    <button class="w-100 btn btn-lg btn-success mt-2" routerLink="/categories">
      Kategori listesi
    </button>
  </form>
</main>
