<main>
    <div class="container py-2">
      <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
          <h1 class="display-5 fw-bold">Alışveriş listesi </h1>
          <p class="col-md-8 fs-4">Projenin amacı, kullanıcıların alışveriş süreçlerini kolaylaştırmak adına almayı planladıkları ürünlerin
            listelerini oluşturabilmesi ve bu listelerin takiplerini yapabilmesidir.
        </p>
            <p class="col-md-8 fs-4">Admin ve normal kullanıcı olarak iki adet rol vardır. İki rolde birbirlerinin sayfalarına erişememektedir.
            </p>
            <button class="btn btn-success btn-lg me-2" routerLink="/login">Giriş yap</button>
            <button class="btn btn-primary btn-lg" routerLink="/register">Kayıt ol</button>
        </div>
      </div>
 
      <div class="row align-items-md-stretch mb-4">
        <div class="col-md-6">
          <div class="h-100 p-5 bg-light rounded-3">
            <h2>Admin</h2>
            <p>Kategori ekleme, kaldırma, düzenleme ve listeleme yetenekleri vardır.</p>
            <p>Ürün ekleme, kaldırma, düzenleme ve listeleme yetenekleri vardır.</p>
            <div class="btn-group me-2" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-warning btn-lg" routerLink="/products">Ürünler</button>
              <button type="button" class="btn btn-warning btn-lg" routerLink="/product/add">Ekle</button>
            </div>
            <div class="btn-group me-2" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-warning btn-lg" routerLink="/categories">Kategoriler</button>
              <button type="button" class="btn btn-warning btn-lg" routerLink="/category/add">Ekle</button>
            </div>
            
          </div>
        </div>
        <div class="col-md-6">
          <div class="h-100 p-5 bg-light rounded-3">
            <h2>Normal</h2>
            <p>Alışveriş listesi ekleme, kaldırma, düzenleme ve listeleme(oluştuma tarihine göre azalan olarak listelenir) yetenekleri vardır.</p>
            <p>Alışveriş listesine ürün ekleme, kaldırma, düzenleme ve listeleme yetenekleri vardır.</p>
            <p>Alışveriş listesine ürün ekleme ekranında kategori ve isme göre filtreleme yeteneği vardır.</p>
            <p>Alışveriş listesine eklenen ürünlere isteilirse açıklama yazabilirler ve değiştirebilirler</p>

            <button class="btn btn-warning btn-lg" type="button" routerLink="/shoppinglist">Listelerim</button>
          </div>
        </div>
      </div>

      <div class="row align-items-md-stretch mb-4">
        <div class="col-md-6">
          <div class="h-100 p-5 bg-light rounded-3">
            <h2>Admin</h2>
            <p>ID:1 Email -> admin@admin.com Şifre -> TechCareer42</p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="h-100 p-5 bg-light rounded-3">
            <h2>Normal</h2>
            <p>ID:2 Email -> 14arslan.yusuf@gmail.com Şifre -> TechCareer42</p>
            <p>ID:3 Email -> tech@career.com Şifre -> TechCareer42</p>
          </div>
        </div>

      </div>

      <div class="row align-items-md-stretch">
        <div class="col-md-6">
          <div class="h-100 p-5 bg-light rounded-3">
            <h2>Backend</h2>
            <ul>
                <li>.Net 6</li>
                <li>Entity Framework 6</li>
                <li>MSSQL</li>
                <li>Jwt Bearer</li>
                <li>Fluent Validation</li>
                <li>Swagger</li>
                <li>Code First</li>
                <li><a class="text-dark" target="_blank" href="https://github.com/ysfarslanon/TechcareerGraduationProject/tree/main/TechcareerShoppingTracking"><i class="bi bi-github"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-6">
          <div class="h-100 p-5 bg-light rounded-3">
            <h2>Frontend</h2>
            
            <ul>
                <li>Angular</li>
                <ul>
                    <li>Guard</li>
                    <li>Interceptors</li>
                    <li>JwtHelperService</li>
                    <li>HttpClient</li>
                    <li>Reactive Forms - Validators - Custom Validators</li>
                    <li>Router</li>
                    <li>Activated Route</li>
                    
                </ul>
                <li>Bootstrap 5.2</li>
                <li>Bootstrap Icon</li>
                <li>Toastr</li>
                <li>LocalStorage</li>
                <li><a class="text-dark" target="_blank" href="https://github.com/ysfarslanon/TechcareerGraduationProject/tree/main/AngularShoppingList"><i class="bi bi-github"></i></a></li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </main>